<p id="notice"><%= notice %></p>


<div class="container">
  <h1><%= @product.name %></h1>
  <div class="row">
    <div class= "col-xs-8 col-md-6">
      <a href="/static_pages/about">
        <%= image_tag(@product.image_url, class: "thumbnail img-responsive", alt:"too cool")%>
      </a>
    </div>
  </div>
</div>

<div class="container">

  <strong>Name:</strong>
  <%= @product.name %><br>


<br>
  <strong>Description:</strong>
  <%= @product.description %>


<p>
  <strong>Image url:</strong>
  <%= @product.image_url %>
</p>

<p>
  <strong>Colour:</strong>
  <%= @product.colour %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<h4>Average Rating:</h4>
<div class="rated" data-score="<%= @product.average_rating %>"></div>
<br>

<%= render partial: 'new_comment'%>
<%= render partial: 'comments'%>


</div>
<!--<%= @product.highest_rating_comment %>
    <%= @product.lowest_rating_comment %> -->


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>

<!--
<%= link_to "moolazz", static_pages_contact_path %>
<a href="http://localhost:3000/products/3/edit">here</a>
-->
